@model IEnumerable<CategoryModel>
@{
    Layout = "_Layout";
}








    <div class="container-fluid">
        <div class="card shadow mb-4">
        <button type="button" class="btn btn-primary" id="btnAdd" data-toggle="modal" data-target="#categoryModal">Add New</button>
       </div> 
    </div> 

    <div id="ajaxresult">
        <partial name="_categoriesList" model="Model"></partial>
    </div>
    <div class="modal" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="modalBody">
            </div>
        </div>
    </div>  


    
@* <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> *@
<script src="~/lib/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnAdd").click(function () {
            debugger
            $.ajax({
                url: "Category/_Create",
                method: "Get",
                success: function (response) {
                    $("#modalBody").html(response);
                    // $("#categoryModal").show();
                    $("#categoryModal").show({ show: true });                  
                },
                error: function () {

                },
            });//ajax
        });//btnAdd
    }); 
    
    

    function Edit(btn) {
        var id = btn.id;
        $.ajax({
            url: "Category/_Edit",
            method: "Get",
            data: { id: id },
            success: function (response) {
                $("#modalBody").html(response);
                $("#categoryModal").show({ show: true });               
            },
            error: function () {

            },
        });//ajax
    }


    function Details(btn) {
        var id = btn.id;
        $.ajax({
            url: "Category/_Details",
            method: "Get",
            data: { id: id },
            success: function (response) {
                $("#modalBody").html(response);
                $("#categoryModal").show();                
            },
            error: function () {

            },
        });//ajax
    }

    function Delete(btn) {
        var id = btn.id;
        $.ajax({
            url: "Category/Delete",
            method: "Get",
            data: { id: id },
            success: function (response) {
                if (response == "ok") {
                    $('#ajaxresult').load('@Url.Action("_CategoriesList")');
                    $("#categoryModal").hide();
                    $('.modal-backdrop').remove();
                    swal({
                        title: "Succes",
                        text: "Deleted!",
                        icon: "success",
                        button: "Ok",
                    });
                }
                else {
                    swal({
                        title: "Info",
                        text: "Something went wrong!",
                        icon: "info",
                        button: "Ok",
                    });
                }
            },
            error: function () {

            },
        });//ajax
    }


    function Confirmation(btn) {
        swal({
            title: "Are you sure to delete?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                debugger;
                if (willDelete) {
                    Delete(btn);
                } else {
                    swal("Canceled!");
                }
            });
    }





</script>
