@model IEnumerable<TagModel>

@{
    Layout = "_Layout";
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <button type="button" class="btn btn-primary" id="btnAdd" data-toggle="modal" data-target="#tagModal">
            Add Tag
        </button>
    </div>
</div>
<div id="ajaxresult">
    <partial name="_TagList" model="Model"></partial>
</div>
<div class="modal" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalBody">
        </div>
    </div>
</div>

<script src="~/lib/sweetalert.min.js"></script>
<script>

    $(document).ready(function () {
        $("#btnAdd").click(function () {            
            $.ajax({
                url: "Tag/_Create",
                method: "Get",
                success: function (response) {
                    $("#modalBody").html(response);                     
                    $("#tagModal").show({ show: true });
                },
                error: function () {

                },
            });//ajax
        });//btnAdd
    });


    function Edit(btn) {
        var id = btn.id;
        $.ajax({
            url: "Tag/_Edit",
            method: "Get",
            data: { id: id },
            success: function (response) {
                debugger
                $("#modalBody").html(response);
                $("#tagModal").show({ show: true });
            },
            error: function () {

            },
        });//ajax
    }

    function Delete(btn) {
        var id = btn.id;
        $.ajax({
            url: "Tag/Delete",
            method: "Get",
            data: { id: id },
            success: function (response) {
                if (response == "ok") {
                    $('#ajaxresult').load('@Url.Action("_TagList")');
                    $("#tagModal").hide();
                    $('.modal-backdrop').remove();
                    swal({
                        title: "Succes",
                        text: "Deleted!",
                        icon: "success",
                        button: "Ok",
                    });
                }
                else {
                    swal({
                        title: "Info",
                        text: "Something went wrong!",
                        icon: "info",
                        button: "Ok",
                    });
                }
            },
            error: function () {

            },
        });//ajax
    }


    function Confirmation(btn) {
        swal({
            title: "Are you sure to delete?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    Delete(btn);
                } else {
                    swal("Canceled!");
                }
            });
    }


</script>