@model IEnumerable<TagModel>

@{
    Layout = "_Layout";
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <button type="button" class="btn btn-primary" id="btnAdd" data-toggle="modal" data-target="#tagModal">
            Add Tag
        </button>
    </div>
</div>
<div id="ajaxresult">
    <partial name="_TagList" model="Model"></partial>
</div>
<div class="modal" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalBody">
        </div>
    </div>
</div>

<script src="~/lib/sweetalert.min.js"></script>
<script>

    $(document).ready(function () {
        $("#btnAdd").click(function () {            
            $.ajax({
                url: "Tag/_Create",
                method: "Get",
                success: function (response) {
                    $("#modalBody").html(response);                     
                    $("#tagModal").show({ show: true });
                },
                error: function () {

                },
            });//ajax
        });//btnAdd
    });


    // function Edit(btn) {
    //     var id = btn.id;
    //     $.ajax({
    //         url: "Post/_Edit",
    //         method: "Get",
    //         data: { id: id },
    //         success: function (response) {
    //             $("#modalBody").html(response);
    //             $("#postModal").show({ show: true });
    //         },
    //         error: function () {

    //         },
    //     });//ajax
    // }
</script>